// ==================================================
// Settings
// ==================================================

// Ems
// ==================================================
$mq-ems    : false !default;
$mq-em-base: 16px !default;

// Breakpoints
// ==================================================
$mq-breakpoints: (
  iphone  : 320px,
  iphone6 : 375px,
  iphone6p: 414px,
  small   : 480px,
  medium  : 640px,
  ipad    : 768px,
  large   : 1024px,
) !default;

// Breakpoints
// ==================================================
$mq-media: "only screen" !default;